<div class="home-page-container">
  <h1>Who we are?</h1>
  <p>Welcome to Clinics, your trusted platform for managing healthcare appointments with ease and convenience.
    We understand how crucial timely medical care is for maintaining a healthy life, and our mission is to make accessing health services as seamless as possible</p>
  <p>At Clinics, we are a team of healthcare and technology enthusiasts committed to simplifying the way you connect with healthcare providers. We’ve built a solution that brings clinics, hospitals, and other healthcare facilities right to your fingertips, ensuring you can schedule appointments, manage bookings, and receive medical attention without the hassle</p>
  <p>Read more about us <a routerLink="/about">here</a></p>
</div>
